<div class="card-group" style="margin-top: 20px;">
  <div class="card">
    <div class="row">
      <div class="col-md-3 text-uppercase" style="padding: 16px 0 15px 25px">
        <h4>Pauta: <strong>{{ itemVotacao.titulo_pauta }} </strong></h4>      
      </div>
      <div class="col-md-4 text-uppercase" style="padding: 16px 0 15px 25px">
        <h4>Item a ser votado: <strong>{{ itemVotacao.titulo_item_a_ser_votado }}</strong></h4>
      </div>
      <div class="col-md-5 text-uppercase" style="padding: 16px 0 15px 25px">
        <h4>Descrição Item: <strong>{{ itemVotacao.desc_item_a_ser_votado }}</strong></h4>
      </div>  
    </div>
  </div> 
</div>