<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <img src="../assets/img/logo.png">
</header>

<div class="app-body">
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid">
      <router-outlet></router-outlet>
      <app-conselheiros-board></app-conselheiros-board>
    </div>
  </main>
</div>

<footer class="app-footer">
  <a href="http://www.crea-sc.org.br">Crea SC</a> &copy; 2017
  <span class="float-right">Desenvolvido pelo DTI - CREA - SC</span>
</footer>
