<div class="row">
  <div *ngFor="let conselheiroGroup of conselheiros" class="col-md-2">
    <ul *ngFor="let conselheiro of conselheiroGroup" class="list-group">
      <li class="list-group-item text-uppercase" 
        [class.active]="conselheiro.presente_sessao" 
        [class.bg-danger]="conselheiro.situacao_voto == 'contra'" 
        [class.bg-success]="conselheiro.situacao_voto == 'favor'" 
        [class.bg-warning]="conselheiro.situacao_voto == 'abstencao'" 
        (change)="statusChange($event)"
        style="border-color:white;">
        {{ conselheiro.nome }}
        <span *ngIf="conselheiro.suplente" class="badge badge-pill badge-light" style="float: right;">Suplente</span>
      </li>
    </ul>
  <div>
<div>

