<!-- <div *ngIf="!hasPautaAtiva()" class="alert bg-danger" role="alert" style="margin-top: 15px; font-size: 20px; color: black;">
  <i class="fa fa-warning" style="padding: 10px;"></i> Não há nenhum item de votação ativo!
</div> -->

<app-pauta-description></app-pauta-description>

<div class="card-group">
  <div class="card">
    <div class="card-block">      
      <app-timer></app-timer>
      <button style="display: none;" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="h1 text-muted text-right mb-2">
        <i class="icon-people"></i>
      </div>
      <div class="h4 mb-0">{{ statusVotacao.total_presentes }}</div>
      <small class="text-muted text-uppercase font-weight-bold">Presentes</small>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" [style.width]="(statusVotacao.total_presentes / statusVotacao.total_conselheiros) * 100 + '%'"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="h1 text-muted text-right mb-2">
        <i class="icon-user-following"></i>
      </div>
      <div class="h4 mb-0">{{ statusVotacao.a_favor }}</div>
      <small class="text-muted text-uppercase font-weight-bold">A Favor</small>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [style.width]="(statusVotacao.a_favor / statusVotacao.total_presentes) * 100 + '%'"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="h1 text-muted text-right mb-2">
        <i class="icon-user-unfollow"></i>
      </div>
      <div class="h4 mb-0">{{ statusVotacao.contra }}</div>
      <small class="text-muted text-uppercase font-weight-bold">Contra</small>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" [style.width]="(statusVotacao.contra / statusVotacao.total_presentes) * 100 + '%'"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="h1 text-muted text-right mb-2">
        <i class="icon-frame"></i>
      </div>
      <div class="h4 mb-0">{{ statusVotacao.abstencao }}</div>
      <small class="text-muted text-uppercase font-weight-bold">Abstenções</small>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" [style.width]="(statusVotacao.abstencao / statusVotacao.total_presentes) * 100 + '%'"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="h1 text-muted text-right mb-2">
        <i class="icon-speedometer"></i>
      </div>
      <div class="h4 mb-0">{{ statusVotacao.a_votar }}</div>
      <small class="text-muted text-uppercase font-weight-bold">A Votar</small>
      <div class="progress">
        <div class="progress-bar bg-dark" role="progressbar" [style.width]="(statusVotacao.a_votar / statusVotacao.total_presentes) * 100 + '%'"></div>
      </div>
    </div>
  </div>  
</div>
